<launch>
  <!-- upload urdf -->
  <param name="robot_description" textfile="$(find agv_description)/urdf/agv.urdf" />

  <!-- robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />

  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find agv_bringup)/agv_display.rviz" />
 
</launch>
