<robot
  name="rover_description">

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>


  <link
    name="base_link">
    <visual>
       <origin
        xyz="0.00685 0 0"
        rpy="0 0 1.57079632679" />
      <geometry>
        <mesh
          filename="package://agv_description/meshes/agv1.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.508039215686275 0.5517647058823529 0.6029411764705882 1" />
      </material>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
    </visual>
  </link>

  <link name="laser_front">
    <visual>
      <geometry>
        <box size="0.155 0.155 0.19"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
  </link>

  <joint name="base_link_to_laser_1" type="fixed">
    <parent link="base_link"/>
    <child link="laser_front"/>
    <origin xyz="0.3175 0 0.315" rpy="0 0 0"/>
  </joint>

  <link name="laser_back">
    <visual>
      <geometry>
        <box size="0.155 0.155 0.19"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
  </link>

  <joint name="base_link_to_laser_2" type="fixed">
    <parent link="base_link"/>
    <child link="laser_back"/>
    <origin xyz="-0.3175 0 0.315" rpy="0 0 3.14"/>
  </joint>
</robot>
